.LoginPage {
  input {
    -webkit-appearance: auto;
    appearance: auto;
  }
  width: 100%;
  display: flex;
  justify-content: center;
  .loginFrame {
    min-width: 400px;
  }
  .loginLogo {
    width: 100%;
    height: 200px;
  }
  .loginForm {
    display: flex;
    flex-direction: column;

    #loginBtn {
      font-size: 17px;
      height: 2.5rem;
      line-height: 2.1rem;
      margin-top: 0.5rem;
      letter-spacing: -0.25px;
      font-weight: 700;
      border-radius: 4px;
    }
  }
  input {
    font-size: 1.2em;
    margin-bottom: 2%;
    padding-left: 2%;
  }
  button {
    font-size: 1.2em;
    height: 40px;
    background-color: black;
    color: white;
    padding-top: 1%;
    border: none;
  }
  .loginLink {
    display: flex;
    justify-content: space-between;

    margin-top: 2%;
    margin-bottom: 34.9%;

    a {
      color: rgb(61, 61, 61);
      text-decoration: none;
    }
    a:hover {
      text-decoration: underline;
    }

    .signUp,
    .findPassword {
      border: none;
    }
  }
  .autoLoginFrame {
    margin-top: 1rem;

    label {
      cursor: pointer;
    }

    input {
      cursor: pointer;
    }
  }
  figure {
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      height: auto;
    }
  }
  margin-bottom: 8%;
}
