.LoginPage {
  .studentNumForm {
    height: 2.75rem;
    .studentNumInput {
      width: 85% !important;
      height: 1.4rem;
      padding: 0;
      position: relative;
      top: 0.6em;
      left: -0.3rem;
      box-shadow: none !important;
      color: black;
      border-radius: 0;
      font-size: 17px;
    }

    .studentNumInput::placeholder {
      color: #bfbfbf !important;
      position: relative;
      top: 0.06em;
    }

    .studentNumInput:focus {
      outline: none;
      background-color: white;
    }

    .studentNum.focused {
      border: 1.25px solid #4d69e2 !important;
    }

    .studentNum.focused .userIcon {
      color: rgb(108, 108, 108) !important;
    }

    .studentNum {
      display: flex;
      width: 100%;
      height: 2.75rem;
      border: 1.25px solid #ddd;
      border-bottom: none;
      border-top-left-radius: 6px !important;
      border-top-right-radius: 6px !important;
      border-bottom-left-radius: 0px !important;
      border-bottom-right-radius: 0px !important;

      .userIcon {
        padding: 0.9rem 0.9rem;
        color: #bfbfbf !important;
      }

      .studentNumDeleteBtn {
        font-size: 17px;
        padding: 0 !important;
        position: relative;
        top: 0.8rem;
        left: 0.2rem;
        margin-right: 0.8rem;
        box-shadow: none;
        background-color: transparent;
        color: #9ba1a3 !important;
        cursor: pointer;
      }
    }
  }

  .passwordForm {
    margin-bottom: 0.5rem;
    .passwordInput {
      width: 85% !important;
      height: 1.4rem;
      padding: 0 0 0.05rem 0;
      letter-spacing: 1px;
      position: relative;
      top: 0.6em;
      left: -0.3rem;
      box-shadow: none !important;
      color: black;
      border-radius: 0;
      font-size: 17px;
    }

    .passwordInput::placeholder {
      color: #bfbfbf !important;
      position: relative;
      top: 0.07em;
    }

    .passwordInput:focus {
      outline: none;
      background-color: white;
    }

    .password.focused {
      border: 1.25px solid #4d69e2 !important;
    }

    .password.focused .lockIcon {
      color: rgb(108, 108, 108) !important;
    }

    .password {
      display: flex;
      width: 100%;
      height: 2.75rem;
      border: 1.25px solid #ddd;
      border-top-left-radius: 0px !important;
      border-top-right-radius: 0px !important;
      border-bottom-left-radius: 6px !important;
      border-bottom-right-radius: 6px !important;

      .lockIcon {
        padding: 0.9rem 0.9rem;
        color: #bfbfbf !important;
      }

      .passwordDeleteBtn {
        font-size: 17px;
        padding: 0 !important;
        position: relative;
        top: 0.8rem;
        left: 0.2rem;
        margin-right: 0.8rem;
        box-shadow: none;
        background-color: transparent;
        color: #9ba1a3 !important;
        cursor: pointer;
      }
    }
  }

  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 15px;
  .loginFrame {
    min-width: 400px;
  }
  .loginLogo {
    width: 100%;
    height: 200px;
  }
  .loginForm {
    display: flex;
    flex-direction: column;

    #loginBtn {
      font-size: 15px;
      height: 2.25rem;
      line-height: 1.85rem;
      margin-top: 0.5rem;
      letter-spacing: -0.25px;
      font-weight: 600;
      border-radius: 4px;
    }
  }
  button {
    font-size: 1.2em;
    height: 40px;
    background-color: black;
    color: white;
    padding-top: 1%;
    border: none;
  }
  .loginLink {
    display: flex;
    justify-content: space-between;

    margin-top: 2%;
    margin-bottom: 34.9%;

    a {
      color: rgb(61, 61, 61);
      text-decoration: none;
    }
    a:hover {
      text-decoration: underline;
    }

    .signUp,
    .findPassword {
      border: none;
      color: grey;
      font-size: 14px;
    }
  }
  .autoLoginFrame {
    margin-top: 1rem;

    label {
      cursor: pointer;
    }

    input {
      cursor: pointer;
    }
  }
  figure {
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      height: auto;
    }
  }
  margin-bottom: 8%;
}
