.LoginPage{
    width: 100%;
    display: flex;
    justify-content: center;
    .loginFrame{
        min-width: 500px;
    }
    .loginLogo{
        width: 100%;
        height: 200px;
        background-color: black;
    }
    .loginForm{
        display: flex;
        flex-direction: column;
    }
    input{
        font-size: 1.2em;
        margin-bottom: 2%;
        padding-left: 2%;

    }
    button{
        font-size: 1.2em;
        height: 40px;
        background-color: black;
        color: white;
        padding-top: 1%;
        border: none;
    }
    .loginLink{
        display: flex;
        justify-content: space-between;
        margin-top: 2%;
        margin-bottom: 34.9%;
        
        a{
            color: rgb(61, 61, 61);
            text-decoration: none;
        }
        a:hover{
            text-decoration: underline;
        }
    }
    .autoLoginFrame{
        label{
            cursor: pointer;
        }

        input{
            cursor: pointer;
        }
    }
 margin-bottom: 47.5%;
}