.photo-detail-content {
  padding: 10px 200px;
  margin: 5rem auto;
  .slide {
    padding: 0px 20px;
  }
  button {
    width: 130px;
    padding: 10px 0px;
  }

  .articleContent {
    word-break: break-all;
    white-space: pre-line;
  }
}
