.RegisterPage {
  font-size: 14px;

  .inputForm {
    width: 50rem;
    margin: 0 auto !important;

    .titleFrame {
      display: flex;
      justify-content: space-between;
      padding-top: 3rem;

      .formTitle {
        color: rgb(56, 56, 56) !important;
        letter-spacing: -1.5px;
        font-size: 30px;
        font-weight: bold;
        padding-bottom: 0.25rem;
      }

      .routePath {
        padding-top: 1rem;

        .link {
          color: rgb(119, 119, 119);
          text-decoration: none !important;
          border: none !important;
        }

        .link:hover {
          color: blue;
        }
      }
    }

    .title {
      padding-left: 1.75rem;
      border-right: 1px solid rgb(212, 212, 212);
      color: rgb(102, 102, 102);
      background-color: rgb(239, 241, 247) !important;
    }

    .eachContent {
      display: flex;
      padding-left: 1.75rem;
    }

    label {
      font-weight: 400;
      color: rgb(90, 90, 90);
    }

    .rightCaseBorder,
    input {
      color: black;
      outline: none;
      box-shadow: none;
      border-radius: 0;
      padding-left: 0.5em;
      border: 1px solid rgb(204, 204, 204);
      background-color: white !important;
      width: 15em !important;
      height: 2.25em;
      position: relative;
    }

    input:focus {
      border: 1px solid rgb(0, 82, 245);
    }

    .studentInfo {
      height: 6.5rem;
      display: grid;
      grid-template-columns: 17.5% 70%;
      border-top: 2px solid rgb(150, 150, 150);

      .title {
        line-height: 6.3rem;
      }

      .contentSection {
        margin-top: 1.15rem;
        .eachContent:nth-child(1) {
          margin-bottom: 0.75rem;
          label {
            display: flex;
            align-items: center;
            margin: 0 4.2rem 0 0;
          }
        }

        .eachContent:nth-child(2) {
          margin-bottom: 0.75rem;
          label {
            display: flex;
            align-items: center;
            margin: 0 1.6rem 0 0;
          }
        }

        input[type="text"] {
          width: 100px;
          height: 30px;
        }
      }
    }

    .password {
      height: 11.5rem;
      display: grid;
      grid-template-columns: 17.5% 70%;
      border-top: 1px solid rgb(212, 212, 212);

      .title {
        line-height: 11.3rem;
      }

      .contentSection {
        margin-top: 1rem;

        .eachContent:nth-child(1) {
          margin-bottom: 0.4rem;
          label {
            display: flex;
            align-items: center;
            margin: 0 2.85rem 0 0;
          }
        }

        .eachContent:nth-child(2),
        .eachContent:nth-child(3),
        .eachContent:nth-child(5) {
          padding-left: 7.7rem !important;
        }

        .eachContent:nth-child(4) {
          margin: 0.75rem 0 0.4rem;
          label {
            display: flex;
            align-items: center;
            margin: 0 0.6rem 0 0;
          }
        }
      }
    }

    .email {
      height: 10rem;
      display: grid;
      grid-template-columns: 17.5% 70%;
      border-top: 1px solid rgb(212, 212, 212);
      border-bottom: 1px solid rgb(212, 212, 212);

      .title {
        line-height: 12.5em;
      }

      .contentSection {
        margin-top: 1rem;

        .emailConfirmCodeSendingBtn,
        .emailConfirmCodeVerifyingBtn {
          position: relative;
          left: 0.5em;
          padding: 0;
          width: 6rem;
          height: 2.25em;
          font-weight: 500;
          letter-spacing: 1px;
          color: rgb(102, 102, 102) !important;
          background-color: rgb(247, 247, 247);
          box-shadow: none;
          border-radius: 3px;
          border: 1px solid rgb(189, 191, 197);
        }

        .eachContent:nth-child(1) {
          margin-bottom: 0.4rem;
          label {
            display: flex;
            align-items: center;
            margin: 0 1.95rem 0 0;
          }
        }

        .eachContent:nth-child(2) {
          padding-left: 7.7rem !important;
        }

        .eachContent:nth-child(3) {
          margin: 0.75rem 0 0.4rem;
          label {
            display: flex;
            align-items: center;
            margin: 0 1.25rem 0 0;
          }
        }

        .eachContent:nth-child(4) {
          padding-left: 7.7rem !important;
        }
      }
    }

    .registerBtn {
      font-size: 16px;
      box-shadow: none;
      justify-content: center;
      font-weight: 600;
      align-items: center;
      margin: 2rem 50% 5rem;
      border-radius: 0 !important;
      width: 150px;
      height: 40px;
      padding: 0;
      border-bottom: 1px solid rgb(6, 56, 141);
      background-color: rgb(40, 121, 257);
      color: white;
      font-weight: 600;
    }
  }

  .patternRight,
  .patternWrong,
  .patternNone {
    visibility: visible;
  }

  .patternRight {
    color: #3d8730;
  }

  .patternWrong {
    color: #d43a44;
  }

  .patternNone {
    color: rgb(144, 144, 144);
  }

  .patternHidden {
    visibility: hidden;
  }

  .wrongCaseBorder {
    border: 1px solid #d43a44 !important;
  }
}
