.Activity{
    width: 40%;
    float: left;
    
    
    h4{
        width: 100%;
        text-align: center;
        background-color: beige;
        padding: 1.5%;
        margin: 0 auto;
        margin-bottom: 5%;
    }

    .testPicture{
        width: 100%;
        height: 100%;
    }
}