.CheckPwPage{
    .titleFrame{
        display: flex;
        justify-content: space-between;

        i{
            color: rgba(0, 0, 0, 0.5);
        }

        a{
            color: black;
            text-decoration: none;
        }
        a:hover{
            color: gray;
        }
    }
    table{
        margin: 0 auto;
        width: 80%;
        border: 2px solid rgba(0,0,0,.1);
        margin-bottom: 2%;

        h5{
            margin-bottom: 0;
        }
        thead{
            border: 2px solid rgba(0,0,0,.1);;
            background-color: #fafafa;

            td{
                padding: 1% 2%;
            }
        }
        
        tbody{
            td{
                align-items: center;
                padding: 1% 3%;
                padding-right: 5%;
            }
        }
        i{
            border-right:1px solid rgba(0, 0, 0, 0.5);;
            width: 20px;
        }
        .titleText{
            font-size: 1.2em;
            font-weight: 900;
            span{
                font-weight: 100;
            }
            .uId{
                font-weight: 900;
                color: red;
            }
        }
    }
    table thead:last-child{
        background-color: white;
    }
    input{
        width: 100%;
        padding-left: 18%;
        height: 40px;
    }
    
    .inputText{
        position: relative;
        i{
            text-align: center;
            padding-top: 1.5%;
            width: 15%;
            position: absolute;
            height: 100%;
        }
    }
    .autoNum{
        width: 100%;
        height: 150px;
        border: 2px solid rgba(0,0,0,.1);;
    }
    
    button[type=submit]{
        float: right;
        margin-right: 3%;
        width: 100px;
        height: 40px;
        border: 1px solid rgb(98, 98, 243);
        background-color: rgb(44, 44, 255);
        border-radius: 5px;

        h5{
            padding: 2%;

            color: white;
        }
    }
    .mainBtn{
        display: flex;
        justify-content: center;
        margin-bottom: 2%;
        button[type=button]{
            width: 200px;
            height: 40px;
            border: none;
            background-color: rgb(65, 65, 65);
            border-radius: 5px;
    
            h5{ 
                padding: 2%;
                padding-top: 4%;
                color: white;
            }
        }
    }
    
}