.ProjectDetail {
  button {
    padding: 0;
  }
  .container {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-top: 150px;
    > div {
      padding-left: 1%;
      padding-right: 1%;
    }

    .fileSection {
      margin-top: 1.25rem !important;
      border-top: 0.5px solid #b6b6b6;
      border-bottom: 0.5px solid #b6b6b6;
      background-color: #f4f4f4;
      font-size: 14px;

      .files {
        padding: 0;
        background-color: #fff;
        .uploadedFile {
          margin: 0.2rem 0;
          padding-left: 0.5rem;
          padding-bottom: 0.1rem;
          & > a {
            color: black;
            border: none;
            transition: none;
          }
          & > a:hover {
            border-bottom: 1px solid black;
          }
        }
      }
    }
  }

  .pageTitle {
    border-top: 2px solid #000;
    border-bottom: 1px solid #dfdfdf;
    padding: 17.5px 0 16px;
  }

  .pageInfo dt,
  dd {
    float: left;
    margin-right: 15px;
    display: inline;
  }

  .contents {
    padding: 5% 0px 1% 0px;
    .contentsBottom {
      margin: 8% auto 1%;
      text-align: center;
      .like {
        border-radius: 10px;
        padding: 1.7% 1.25% 1.25%;
        background-color: rgb(13, 110, 253);
        cursor: pointer;
        i {
          font-size: 30px;
        }
        .likeCnt {
          padding-left: 7px;
          -ms-user-select: none;
          -moz-user-select: -moz-none;
          -khtml-user-select: none;
          -webkit-user-select: none;
          user-select: none;
        }
      }
      .like:hover {
        background-color: rgb(8, 90, 214);
      }
    }
  }

  nav {
    border-bottom: 1px solid #dfdfdf;
    margin-bottom: 1.5%;
    div {
      border-top: 1px solid #dfdfdf;
      cursor: pointer;

      span {
        display: inline-block;
        width: 10%;
        height: 45px;
        line-height: 45px;
        font-size: 17px;
        text-align: center;
        background-color: #f7f8f9;
        border-right: 1px solid #dfdfdf;
        margin-right: 1.5%;
        cursor: auto;
      }
    }
  }

  .catalogue {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 3%;
    button {
      margin-right: 1%;
      width: 8%;
      height: 2.5em;
    }
  }
}
