#comment {
    margin-top: 10%;

    .textarea-frame {
        width: 100%;
        height: 150px;
        background-color: rgb(248, 250, 252);
        display: flex;
        justify-content: right;
        align-items: center;
        border: solid 1px #f3f3f3
    }

    textarea {
        width: 85%;
        height: 70%;
        padding: 1%;
        resize: none;
    }

    textarea::placeholder {
        font-size: 0.8em;
    }

    button {
        font-size: 1.1em;
        margin-left: 3%;
        margin-right: 1%;
        height: 25%;
        width: 7.5%;
    }

    table {
        margin-top: 3%;
    }

    tbody {
        background-color: rgb(248, 250, 252);
    }

    .comment-tr {
        padding: 10% 0;
    }

    .content-tr {
        border-top: none;
    }

    .empty-tr {
        background-color: white;
    }

    table tbody tr:first-child {
        border-top: solid 1px #e5e5e5
    }

    ul li:first-child {
        margin: 0.75em 0 0.75em 0
    }
}