#footer {
  .row {
    .pointCircle {
      color: transparent;
      font-size: 20px;
      margin-right: 0.35rem;
      margin-left: -15.5px;
      cursor: default;
    }

    .navTitle {
      color: #444;
    }

    .navTitle:hover .pointCircle {
      color: #4d69e2;
    }

    ul > li span {
      color: #888;
    }
    ul > li span:hover {
      color: #111;
    }
  }
}
