.Navigation{
  margin: 0 auto;
  margin-bottom: 3%;
  .userStatus{
    margin-top: 1%;
    width: 100%;
    height: 40px;
    p{
        display: inline-block;
    }

    .user{
        float: right;
        cursor: pointer;
    }
    .user:hover{
      text-decoration: underline;
    }
  }

  .dropdown-toggle::after{
    display: none;
  }
  .nav-dropdown a{
    font-size: 1.6em;
    color: black;
    font-weight: 600;

  }
  

nav{
  display: flex;
 
    width: 100%;
    height: 100px;
    
    img{
        width: 150px;
    }
    .dropdown {
      margin-left: 5%;
    }
    .dropdown-menu{
      border-radius: 1rem;
      background-color: #C3CFE5;
    }
    .dropdown-item{
      font-size: 1em;
      text-align: center;
    }
    .navItem1{
      width: 7rem;
    }
    .navItem2{
      width: 9rem;
    }
    .navItem3{
      width: 10rem;
    }
    .navItem4{
      width: 7rem;
    }
    .navItem5{
      width: 10rem;
    }
    .dropdown-menu{
      min-width: 5rem;
    }
   
  
}


}

