.Calendar{
    
    
    .row{
        .col-lg-9{
            padding-left: 5%;
            min-height: 500px;
        }
        .col-lg-3{
            padding-left: 5%;
        }
    }
    .fc-scroller::-webkit-scrollbar, .fc-scroller-liquid-absolute::-webkit-scrollbar{
        display: none;
    }
    .fc-header-toolbar *{
        display: flex;
    }
    .Calendar-main{
        table{
            max-height: 600px;
        }
        .fc-day-sat, .fc-day-sun{
        .fc-col-header-cell-cushion{
            color:red;
        }
        }
        .fc-col-header-cell-cushion, .fc-daygrid-day-number{
            color: black;
            text-decoration: none;
        }
        tbody *{
            padding-bottom: 1px;
        }
        .fc-view-harness .fc-view-harness-active{
            height: 50px;
        }
       
    }

}